*.pid
*.xml
*.csr
*.crt
*.key
www/images
myCA
newyaml
20170414_backup_yaml
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
*.conf
configuration.yaml.*
plex.conf
phue.conf
harmony_media_room.conf
pyozw.sqlite
.*
!/.gitignore
html5_push_registrations.conf
ip_bans.yaml
/icloud/*
**/life360.sh
/home/homeassistant/.homeassistant/shell_scripts/life360.sh
*.bk
*pass.sh
life360.*
